<!-- Container starts here -->
<div id="container" >
  <!-- Header starts here -->

  <!-- Header ends here -->
  <!-- Body of the page starts here -->
  <div id="wrapper" >
    <div class="home_left" >
      <!-- User Picture is posted in this frame -->
      <div class="home_frame" >
      </div>
      <!-- User Picture ends here -->
      <!-- User information block starts -->
      <div class="user_block" >
        <div class="user_title" >
          <div class="user_edit" >
            <li>Edit</li>
          </div>
        </div>
        <div class="user_tag" >
          <li>Brandon Gontovnick</li>
        </div>
        <div class="user_tag" >
          <li>Humber College</li>
        </div>
        <div class="user_tag" >
          <li>Electrical/Mechanical Engineering</li>
        </div>
      </div>
      <!-- User information block ends -->
      <div class="classified_box" >
        <div class="classified_title" >
          <li>My Classifieds</li>
        </div>
        <div class="classified_books" >
          <li>Books</li>

        </div>


        <div class="classified_tag" >
          <div class="classified_frame" >
            <%= image_tag("waldo.png", :alt => "Where's Waldo?") %>          </div>
          <div class="classified_field" >
            <table>
              <tr>
                <td>Name:</td>
                <td>Where's Waldo?</td>
              </tr>
              <tr>
                <td>ISBN:</td>
                <td>56F3DE1</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>$34</td>
              </tr>
            </table>
            <div class="viewmore" >
            </div>
          </div>
        </div>
        <div class="classified_tag" >
          <div class="classified_frame" >
            <%= image_tag("book.png", :alt => "Where's Waldo?") %>          </div>
          <div class="classified_field" >
            <table>
              <tr>
                <td>Name:</td>
                <td>The Wonders Of Rails!</td>
              </tr>
              <tr>
                <td>ISBN:</td>
                <td>56F3DE1</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>$34</td>
              </tr>
            </table>
            <div class="viewmore" >
            </div>
          </div>
        </div>
        <div class="classified_other" >
          <li>Other</li>
        </div>
        <div class="classified_tag" >
        </div>
      </div>
    </div>
    <div class="home_right" >
      <!-- Windows 8 theme choice blocks start -->
      <div class="choice_box" >
        <div class="choice_block" >
        </div>
        <div class="choice_block" style="margin-left:10px;" >
        </div>
        <div class="choice_block" >
        </div>
        <div class="choice_block" style="margin-left:10px;" >
        </div>
      </div>
      <!-- Windows 8 theme choice blocks end -->
      <!-- class block starts -->
      <div class="class_block" >
        <div class="class_title" >
          <li>ClassRooms</li>
        </div>
      </div>
      <!-- class block ends -->
      <div class="comment_box" >
        <textarea class="comment_area" >
        </textarea>
      </div>
    </div>
  </div>

  <!-- Body of the page ends here -->
  <!-- Footer starts here -->
  <div id="footer">
    <div class="footbox" >
      <div class="foot_top" >
        <div class="foot_strip" >
          <li style="font-weight:bold;color:white;margin-bottom:5px;">Current Schools</li>
          <li>Humber College</li>
          <li>Western University</li>
          <li>Brock University</li>
          <li>Seneca College</li>
          <li>York University</li>
          <li>Uoft University</li>
        </div>
        <div class="foot_strip" >
          <li style="font-weight:bold;color:white;margin-bottom:5px;">Pages</li>
          <li>Home</li>
          <li>Buy/Sell</li>
          <li>Blog</li>
          <li>Help</li>
          <li>Settings</li>
        </div>
        <div class="foot_strip" >
          <li style="font-weight:bold;color:white;margin-bottom:5px;">About Us</li>
          <li>Our Team</li>
          <li>About</li>
          <li>Terms</li>
          <li>Privacy</li>
        </div>
        <div class="foot_strip" >
          <li style="font-weight:bold;color:white;margin-bottom:5px;">Courses</li>
          <li>Science</li>
          <li>Math</li>
          <li>Engineering</li>
          <li>English</li>
          <li>Econmics</li>
        </div>
      </div>
      <div class="foot_bottom" >
      </div>
    </div>

  </div>
  <!-- Footer ends here -->
</div>